.time-selector {
  display: flex;
  margin: 30px auto;
  overflow: hidden;
}

.day {
  flex: 1;
}

.time-slot {
  width: 45px;
  height: 25px;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: #000;
  color: mediumspringgreen;
}

.time-slot.available {
  background-color: lightgreen;
  color: #000;
  font-weight: bold;
}
