.options {
  margin-bottom: 20px;
}

.time-label, .time-drop {
  display: block;
}

.time-drop {
  /* get rid of default style */
  background: transparent;
  border: none;
  width: 100%;
  /* padding: 10px; */
  margin-bottom: 20px;
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  font-size: larger;
}

.time-label {
  margin-bottom: 10px;
}

.opt-row {
  display: 'flex';
  /* text-align: left; */
  /* justify-content: 'space-between'; */
  margin-bottom: 40px;
}

.save-button {
  margin-bottom: 40px;
}