.personal-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #535353; */
    /* border: 1px solid #ccc; */
    /* border-radius: 8px; */
  }
  
  .input-label {
    display: inline;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .input-field {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .save-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #0056b3;
  }
  